@import "static/css/common.scss";
.menu {
	width: 240px;
	& .menuHeader {
	    padding: 20px 10px 29px 20px;
		& img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
		& p {
			font-size: 12px;
			color: $bigColor;
		    margin: 9px 0 0;		    
		}
	}
	& .ant-menu {
		& .ant-menu-item {
			height: 50px;
			line-height: 50px;
			border-bottom: 1px solid $bgColor;
			text-align: center;
			& a {
				color: $bigColor;
			}
			&:after {
				left: 0;
				border-left: 4px solid $leftColor;
				border-right: none;
			}
		}
		& .ant-menu-item-selected {
			background: none;
			& a {
				color: $leftColor;
			}
		}
		& .ant-menu-item-active a {
				color: $leftColor;
		}
	}
}
