@import "static/css/common.scss";
.lend {
	margin: 30px auto 0;
	.product {
		margin: 0 0 30px;
		& .productList {
		    border: 1px solid #E7ECF4;
		    padding: 30px 0 0 36px;
		    border-left: none;
		    & .productLi {
		    	margin: 0 0 28px;
		    	& h5 {
			    	font-size: 18px;
					color: #50587a;
				    & span {
				    	margin: 0 0 0 10px;
				    	&.new {
				    		font-size: 12px;
						    color: #fff;
						    background: #ef7a46;
						    border-radius: 5px;
						    padding: 3px 10px;
				    	}
				    	&.only {
			    		    font-size: 12px;
						    color: #979cb2;
						    background: #fff;
						    border-radius: 5px;
						    padding: 3px 10px;
						    border: 1px solid #979cb2;
				    	}
				    }
			    }
			    & .productOneMian {
			    	margin: 20px 0 0;
			    	& h4 {
			    		font-size: 32px;
			    		text-align: center;
			    		&.interest {
							color: #ff7136;
							& em {
								font-size: 16px;
								font-style: normal;
							}
			    		}
			    		&.day {
						    color: #50587a;
						    & em {
						    	font-size: 16px;
								font-style: normal;
						    }
			    		}
			    	}
			    	& p {
			    		text-align: center;
					    font-size: 14px;
					    color: #50587a;
			    	}
			    }
			    & .goLend {
			    	width: 135px;
				    height: 40px;
				    border-radius: 5px;
				    text-align: center;
				    line-height: 40px;
				    background: #ef7a46;
				    margin: 40px 0 0;
				    border: 1px solid #ef7a46;
				    &:hover {
				    	border: 1px solid #ef7a46;
				    }
				    & a {
				    	color: #fff;
				    	&:hover {
				    		color: #fff;
				    	}
				    }
			    }
			    & .progress {
			    	margin: 10px 0 0 36px;
			    	width: 68px;
				    height: 2px;
				    background: #000;
				    position: relative;
			    	& .barHover {
			    		background: #ee9414;
			    		height: 100%;
					    width: 100%;
					    position: absolute;
			    	}
			    }
		    }
		}
		& .productOne {
			border-top: 1px solid #ffaf24;
		}
		& .productTwo {
			border-top: 1px solid #519fea;
		}
		& .productThree {
			border-top: 1px solid #2ecf64;
		}
	}
}
