@import "../../static/css/common.scss";
.backTop {
	& .ant-back-top {
		right: 30px;
		bottom: 200px;
	}
	& .backTopIcon {
		width: 40px;
		height: 40px;
		border: 1px solid #eeeeee;
		border-radius: 1px;
		background: url(../../static/images/common/backTop/backTop.png) no-repeat;
		cursor: pointer;
		-moz-transition: background-position .3s;
		transition: background-position .3s;
		-ms-transition: background-position .3s;
		-o-moz-transition: background-position .3s;
		-webkit-moz-transition: background-position .3s;
		& .backTopApp {
			position: absolute;
			bottom: 0;
			left: -153px;
			width: 150px;
			height: 150px;
			border: 1px solid #eeeeee;
			border-radius: 1px;
			background: #fff;
			color: #000;
			text-align: center;
			font-size: 12px;
			cursor: default;
		}
	}
	& .app {
		background-position: 0 0;
	    &:hover {
	    	background-position: 0 -40px;
	    }
	}
	& .wechat {
		background-position: 0 -80px;
	    &:hover {
	    	background-position: 0 -120px;
	    }
	}
	& .custom {
		background-position: 0 -160px;
	    &:hover {
	    	background-position: 0 -200px;
	    }
	}
	& .top {
	    background-position: 0 -240px;
	    &:hover {
	    	background-position: 0 -280px;
	    }
	}
}