$bigColor: #222c57;
$globalColor: #3c415f;
$smallColor: #8997b0;
$fontSize: 1rem;
$blockColor: #000;
$hoverColor: #ee9414;
$borderColor: #e0e8ed;
$hrefColor: #4ab3fa;
$bgColor: #F2F2F2;
$leftColor: #EF7A46;