@import "static/css/common.scss";
.member {
	margin: 16px 0 0;
	& .ant-breadcrumb {
		font-size: 16px;
		margin: 0 0 20px;
		& a {
			color: $smallColor;
		}
		& span:first-child {
			color: $smallColor;
			& .ant-breadcrumb-separator {
				display: none;
			}
		}
		& span:last-child {
			color: $smallColor;
		}
	}
}