@import "static/css/common.scss";
.page6{
    .notice{
        li{
            padding: 30px 0;
            border-bottom: 1px solid #ccc;
            & a {
                text-decoration: none;
                & .tit{
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    overflow: hidden;
                    background: #ed7348;
                    display: inline-block;
                    margin-right: 20px;
                    margin-top: 7px;
                }
                & p{
                    color: #000;
                    &.p2{
                        font-size: 20px;
                        text-align: end;
                    }
                }
            }
        }
    }
    
}